<html>
<body>
<footer class="container-fluid text-center mt-3 " style="background-color: 99ddff; font-size:20px; ">
   <a href="" class="text-dark"><b>Back to Top</b> </a>
 </footer>
 <div class="container-fluid pt-3" style="background-color:#b2dbeeb0;">
   <div class="row">
     <div class="col-md-3  pr-6">
         <h5>Online Shopping</h5>
         <a href=""> Men</a><br>
         <a href=""> Women</a><br>
         <a href=""> Kids</a><br>
         <a href=""> Home&Living</a><br>
         <a href=""> BUEATY</a><br>
         <a href=""> STUDIO</a><br>
     </div>
     <div class="col-md-3">
         <h5>Get to Know Us</h5>
         <a href=""> About Us</a><br>
         <a href=""> Careers</a><br>
         <a href=""> Press releases</a><br>
     </div>
     <div class="col-md-3">
       <h5>Connect with Us</h5>
       <a href="https://www.facebook.com/profile.php?id=100077676325836"></a><br>
       <a href=""> Twitter</a><br>
       <a href=""> Instagram</a><br>
       <a href=""> Teligram</a><br>
     </div>

   </div>
 </div>
</body>
</html>
